<div class="modal">
    <div class="modal__body">
        <div class="modal__icono">
            <i class="bi bi-trash"></i>
        </div>
        <div class="modal__texto">
            <div class="texto">
                <span class="titulo">Eliminar producto</span>
                <span class="descripcion">¿Estás seguro de eliminar éste producto?</span>
            </div>            
        </div>
        <div class="modal__botones">
            <button class="cancelar" (click)="cerrarModal()">Cancelar</button>
            <button class="aceptar" (click)="borrarProducto()">Borrar</button>
        </div>
    </div>
</div>